@media only screen and (max-width: 1060px) {
  .character-details {
    flex-direction: column !important;
    margin-top: 30px !important;
  }

  .character-details-button {
    margin-left: calc(50% - 181px) !important;
    width: 149px !important;
    height: 38px !important;
  }

  .character-details-button > svg {
    width: 19px !important;
    height: 19px !important;
    padding-top: 9px !important;
  }

  .character-details-button > span {
    font-size: 20px !important;
    line-height: 24px !important;
    padding-top: 8px !important;
  }
}

.character-details {
  display: flex;
  user-select: none;
  margin-top: 29.5px;
}

.character-details-left {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.character-details-button {
  margin-left: 49.5px;
  width: 206px;
  height: 50px;
  gap: 3px;
}

.character-details-button > svg {
  width: 29px;
  height: 29px;
  padding-top: 11px;
}

.character-details-button > span {
  font-size: 30px;
  line-height: 36px;
  padding-top: 9px;
}

.character-details-title {
  display: flex;
  flex-direction: column;
  padding-left: 197px;
}

.character-details-title-text-cyan {
  font-size: 70px;
  line-height: 84px;
  color: var(--cyan);
}

.character-details-img {
  margin-left: 140px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-details-img > img {
  width: 100%;
  max-width: 650px;
  height: auto;
}

.character-details-right {
  margin-top: 109px;
  margin-left: 206px;
}

.character-details-info {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.character-details-info > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.character-details-info > div:nth-child(2n + 1) {
  font-size: 25px;
  line-height: 30px;
  color: var(--cyan);
}

.character-details-info > div:nth-child(2n) {
  font-size: 25px;
  line-height: 30px;
  color: var(--lime);
}

.character-details-info > div > :last-child {
  font-size: 20px;
  line-height: 24px;
  color: var(--medium-gray);
}
