@media only screen and (max-width: 1060px) {
  .character-details {
    flex-direction: column !important;
    margin-top: 30px !important;
    margin-bottom: 45px !important;
  }

  .character-details-left {
    gap: 0 !important;
  }

  .character-details-button {
    margin-left: calc(50% - 181px) !important;
    width: 149px !important;
    height: 38px !important;
  }

  .character-details-button > svg {
    width: 19px !important;
    height: 19px !important;
    padding-top: 9px !important;
  }

  .character-details-button > span {
    font-size: 20px !important;
    line-height: 24px !important;
    padding-top: 8px !important;
  }

  .character-details-title {
    margin-top: 23px !important;
    margin-left: calc(50% - 111px) !important;
  }

  .character-details-title-text-cyan {
    font-size: 38px !important;
    line-height: 46px !important;
  }

  .character-details-img {
    margin-top: 41px !important;
    margin-left: calc(50% - 208px) !important;
  }

  .character-details-img > img {
    max-width: 320px !important;
    max-height: 306px !important;
  }

  .character-details-right {
    margin-top: 40px !important;
  }

  .character-details-right {
    margin-top: 115px !important;
    margin-left: calc(50% - 178px) !important;
  }

  .character-details-info {
    gap: 21px !important;
  }

  .character-details-info > div {
    width: 362px;
    gap: 14px !important;
    border-bottom: 1px solid var(--light-gray1);
    padding-bottom: 18px;
  }

  .character-details-info > div:last-child {
    border-bottom: none;
  }

  .character-details-info > div:nth-child(2n + 1) {
    font-size: 18px !important;
    line-height: 21px !important;
  }

  .character-details-info > div:nth-child(2n) {
    font-size: 18px !important;
    line-height: 21px !important;
  }

  .character-details-info > div > :last-child {
    font-size: 15px !important;
    line-height: 18px !important;
  }
}

.character-details {
  display: flex;
  user-select: none;
  margin-top: 29.5px;
  margin-bottom: 273px;
}

.character-details-left {
  display: flex;
  flex-direction: column;
  gap: 66px;
  flex-basis: 50%;
}

.character-details-button {
  margin-left: 49.5px;
  width: 206px;
  height: 50px;
  gap: 3px;
  cursor: pointer;
}

.character-details-button > svg {
  width: 29px;
  height: 29px;
  padding-top: 11px;
}

.character-details-button > span {
  font-size: 30px;
  line-height: 36px;
  padding-top: 9px;
}

.character-details-title {
  display: flex;
  flex-direction: column;
  margin-left: 294px;
}

.character-details-title-text-cyan {
  font-size: 70px;
  line-height: 84px;
  color: var(--cyan);
}

.character-details-img {
  margin-left: 180px;
  margin-top: 108px;
  max-width: 650px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-details-img > img {
  width: 100%;
  height: auto;
  max-width: 650px;
}

.character-details-right {
  display: flex;
  margin-top: 109px;
  margin-left: 76px;
}

.character-details-info {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.character-details-info > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.character-details-info > div:nth-child(2n + 1) {
  font-size: 25px;
  line-height: 30px;
  color: var(--cyan);
}

.character-details-info > div:nth-child(2n) {
  font-size: 25px;
  line-height: 30px;
  color: var(--lime);
}

.character-details-info > div > :last-child {
  font-size: 20px;
  line-height: 24px;
  color: var(--medium-gray);
}
