.episodes {
  display: flex;
  margin-top: 115px;
}

.episodes-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 429.5px);
}

.episodes-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.episodes-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 173px;
}

.episodes-title-text-black {
  text-align: left;
  font-size: 70px;
  line-height: 72px;
  color: var(--black);
  word-spacing: 4px;
}

.episodes-title-text-cyan {
  font-size: 70px;
  line-height: 84px;
  color: var(--cyan);
  word-spacing: 1px;
}

.episodes-img {
  padding-left: 180px;
}

.episodes-img > img {
  width: 100%;
  max-width: 647px;
  height: auto;
}

.episodes-right {
  padding-top: 3px;
  padding-left: 209px;
}

.episodes-episode {
  display: flex;
  text-decoration: none;
}

.episodes-episode:nth-child(2n) {
  color: var(--lime);
}

.episodes-episode:nth-child(2n + 1) {
  color: var(--cyan);
}

.episodes-no {
  display: flex;
  font-size: 25px;
  line-height: 30px;
  padding-right: 33.5px;
  padding-top: 18px;
  color: var(--black);
}

.episodes-info {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--light-gray1);
  gap: 14px;
  padding-left: 29.4px;
  padding-top: 18px;
  padding-bottom: 20px;
}

.episodes-name {
  font-size: 25px;
  line-height: 30px;
}

.episodes-date {
  font-size: 20px;
  line-height: 24px;
  color: var(--medium-gray);
}

@media only screen and (max-width: 1060px) {
  .episodes {
    flex-direction: column;
    margin-top: 38px;
  }

  .episodes-loading {
    height: calc(100vh - 187.23px);
  }

  .episodes-left {
    align-items: start;
    gap: 47px;
  }

  .episodes-title {
    padding-left: calc(50% - 180.2px);
    gap: 5px;
  }

  .episodes-title-text-black {
    font-size: 38px;
    line-height: 42px;
    word-spacing: 2px;
  }

  .episodes-title-text-cyan {
    font-size: 38px;
    line-height: 40px;
    word-spacing: 0.2px;
  }

  .episodes-img {
    padding-left: calc(50% - 160px);
    max-height: 306px;
    overflow: hidden;
    display: flex;
  }

  .episodes-img > img {
    width: 320px;
    object-fit: cover;
  }

  .episodes-right {
    padding-left: calc(50% - 181px);
    padding-top: 93px;
    padding-bottom: 24px;
  }

  .episodes-episode {
    flex-direction: column;
    max-width: 362px;
  }

  .episodes-episode:last-child > .episodes-info {
    border-bottom: none;
  }

  .episodes-no {
    font-size: 18px;
    line-height: 22px;
    padding-top: 19px;
  }

  .episodes-info {
    border-left: none;
    border-bottom: 1px solid var(--light-gray1);
    padding-left: 0;
    gap: 14px;
    padding-top: 13px;
    padding-bottom: 19px;
  }

  .episodes-name {
    font-size: 18px;
    line-height: 22px;
  }

  .episodes-date {
    font-size: 15px;
    line-height: 18px;
  }
}
