.characters {
  display: flex;
  margin-top: 29.5px;
}

.characters-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 338px);
}

.characters-left {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.characters-button {
  margin-left: 49.5px;
  width: 181px;
  height: 50px;
  gap: 3px;
  cursor: pointer;
}

.characters-button > .arrow-svg {
  padding-top: 11px;
}

.characters-button > span {
  font-size: 30px;
  line-height: 36px;
  padding-top: 9px;
}

.characters-title {
  display: flex;
  flex-direction: column;
  margin-left: 197px;
}

.characters-title-text-black {
  font-size: 70px;
  line-height: 72px;
  color: var(--black);
}

.characters-title-text-black-last {
  font-size: 70px;
  line-height: 71px;
  color: var(--black);
}

.characters-title-text-cyan {
  font-size: 70px;
  line-height: 72px;
  color: var(--cyan);
}

.characters-img {
  margin-left: 180px;
  margin-top: 28px;
}

.characters-img > img {
  width: 100%;
  max-width: 647px;
  height: auto;
}

.characters-right {
  margin-top: 109px;
  margin-left: 193px;
}

.characters-character {
  display: flex;
  text-decoration: none;
}

.characters-character:nth-child(2n) {
  color: var(--lime);
}

.characters-character:nth-child(2n + 1) {
  color: var(--cyan);
}

.characters-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 38px;
}

.characters-name {
  font-size: 25px;
  line-height: 30px;
}

.characters-species {
  font-size: 20px;
  line-height: 24px;
  color: var(--medium-gray);
}

@media only screen and (max-width: 1060px) {
  .characters {
    flex-direction: column;
    margin-top: 30px;
  }

  .characters-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 176.72px);
  }

  .characters-left {
    align-items: start;
    gap: 0;
  }

  .characters-button {
    margin-left: calc(50% - 181px);
    width: 132px;
    height: 38px;
  }

  .characters-button > .arrow-svg {
    padding-top: 9px;
  }

  .characters-button > span {
    font-size: 20px;
    line-height: 24px;
    padding-top: 8px;
  }

  .characters-title {
    margin-left: calc(50% - 178px);
    gap: 4px;
    margin-top: 25px;
  }

  .characters-title-text-black {
    font-size: 38px;
    line-height: 42px;
  }

  .characters-title-text-black-last {
    font-size: 38px;
    line-height: 42px;
  }

  .characters-title-text-cyan {
    font-size: 38px;
    line-height: 39px;
  }

  .characters-img {
    margin-left: calc(50% - 160px);
    margin-top: 44px;
    max-height: 306px;
    overflow: hidden;
    display: flex;
  }

  .characters-img > img {
    width: 320px;
    object-fit: cover;
  }

  .characters-right {
    margin-left: calc(50% - 181px);
    margin-top: 115px;
    margin-bottom: 21px;
  }

  .characters-character {
    flex-direction: column;
    max-width: 362px;
  }

  .characters-character:last-child > .characters-info {
    border-bottom: none;
  }

  .characters-character:first-child > .characters-info {
    margin-top: 0;
  }

  .characters-info {
    border-left: none;
    border-bottom: 1px solid var(--light-gray1);
    padding-left: 0;
    gap: 14px;
    margin-top: 20px;
    padding-bottom: 19px;
  }

  .characters-name {
    font-size: 18px;
    line-height: 21px;
  }

  .characters-species {
    font-size: 15px;
    line-height: 18px;
  }
}