@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --black: #000000;
  --green: #daed49;
  --lime: #bdd800;
  --cyan: #00bdd4;
  --light-cyan: #00bdd480;
  --gray: #464646;
  --medium-gray: #959595;
  --light-gray: #cccccc;
  --light-gray1: #d1d1d1;
  --light-gray2: #c4c4c4;
}

::-webkit-scrollbar {
  display: none;
}

.text {
  font-family: Lato;
  letter-spacing: 0em;
  text-align: left;
}

.text-400 {
  font-weight: 400;
}

.text-700 {
  font-weight: 700;
}

.back-button {
  display: flex;
  border-radius: 10px;
  border: none;
  background-color: var(--light-cyan);
  justify-content: center;
}
