:root {
  --black: #000000;
  --green: #daed49;
  --lime: #bdd800;
  --cyan: #00bdd4;
  --gray: #464646;
  --medium-gray: #959595;
  --light-gray: #cccccc;
  --light-gray1: #d1d1d1;
}

::-webkit-scrollbar {
  display: none;
}

.text {
  font-family: Lato;
  letter-spacing: 0em;
  text-align: left;
}

.text-400 {
  font-weight: 400;
}

.text-700 {
  font-weight: 700;
}
